<div class="item">
   <article class="testimonial-node-v1">      
      <div class="testimonial-content">
         <div class="content">
            <div class="content-inner">
               <div class="quote">
                  {{ fields.body.content|striptags|trim }}
               </div>  
               <div class="info">
                  <div class="right">
                     <span class="title">{{ fields.field_testimonial_name.content }}, </span>  
                     
                     <span class="job">{{ fields.field_testimonial_job.content }}</span>
                  </div>   
               </div>   
            </div>    
         </div>
      </div>
   </article>
</div>