<article class="portfolio-v2 isotope-item margin-bottom-30 grid">      
   <div class="portfolio-content">
      <div class="portfolio-image image text-center">  
            {{ fields.field_image.content }}
      </div>  
      <div class="content">
         <div class="content-inner">
            <div class="title"> 
               {{ fields.title.content }}
            </div>   
         </div>    
      </div>
   </div>
</article>